{"openapi":"3.0.3","info":{"title":"Dashboard API","description":"Dashboard is an application for managing your schools day-to-day business. It integrates with the Procurat managing software","version":"0.0.1","contact":{"name":"Triargos GmbH","email":"support@triargos.de","url":"https://triargos.de"}},"servers":[{"url":"https://dashboard.triargos.de/api","description":"Production server"},{"url":"https://staging.dashboard.triargos.de/api","description":"Staging server"}],"paths":{"/v1/organizations":{"get":{"operationId":"getOrganizations","summary":"Get all organizations","description":"Get all organizations","tags":["organizations"],"security":[{"apiKey":[]}],"responses":{"200":{"description":"A list of organizations","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"active":{"type":"boolean"}},"required":["id","name","active"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}":{"get":{"operationId":"getOrganization","summary":"Get organization by ID","description":"Get an organization by ID","tags":["organizations"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true}],"responses":{"200":{"description":"An organization","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"active":{"type":"boolean"}},"required":["id","name","active"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/persons":{"get":{"operationId":"getPersons","summary":"Get persons","description":"Get all persons of an organization","tags":["persons"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true}],"responses":{"200":{"description":"A list of persons","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true},"addressId":{"type":"number","nullable":true},"familyId":{"type":"number","nullable":true},"familyRole":{"type":"string","nullable":true},"birthDate":{"type":"string","nullable":true},"birthPlace":{"type":"string","nullable":true},"birthCountryId":{"type":"number","nullable":true},"languageId":{"type":"number","nullable":true},"religionId":{"type":"number","nullable":true},"allFirstNames":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"academicTitle":{"type":"string","nullable":true},"namePrefix":{"type":"string","nullable":true},"nobilityTitle":{"type":"string","nullable":true},"salutationA":{"type":"string","nullable":true},"salutationB":{"type":"string","nullable":true},"jobTitle":{"type":"string","nullable":true},"comment":{"type":"string","nullable":true},"nationalityId":{"type":"number","nullable":true},"maritalStatus":{"type":"string","nullable":true},"deathDate":{"type":"string","nullable":true},"address":{"type":"object","nullable":true,"properties":{"id":{"type":"number"},"street":{"type":"string","nullable":true},"countryId":{"type":"number","nullable":true},"zip":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"nameline2":{"type":"string","nullable":true},"additional":{"type":"string","nullable":true},"district":{"type":"string","nullable":true},"poBoxZip":{"type":"string","nullable":true},"poBox":{"type":"string","nullable":true},"countyId":{"type":"number","nullable":true}},"required":["id","street","countryId","zip","city","nameline2","additional","district","poBoxZip","poBox","countyId"]}},"required":["id","firstName","lastName","gender","addressId","familyId","familyRole","birthDate","birthPlace","birthCountryId","languageId","religionId","allFirstNames","birthName","academicTitle","namePrefix","nobilityTitle","salutationA","salutationB","jobTitle","comment","nationalityId","maritalStatus","deathDate","address"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/persons/{personId}":{"get":{"operationId":"getPerson","summary":"Get a person","description":"Get a person within an organization by ID","tags":["persons"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true},{"in":"path","name":"personId","schema":{"type":"string","description":"The persons's ID."},"required":true}],"responses":{"200":{"description":"A person with address","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true},"addressId":{"type":"number","nullable":true},"familyId":{"type":"number","nullable":true},"familyRole":{"type":"string","nullable":true},"birthDate":{"type":"string","nullable":true},"birthPlace":{"type":"string","nullable":true},"birthCountryId":{"type":"number","nullable":true},"languageId":{"type":"number","nullable":true},"religionId":{"type":"number","nullable":true},"allFirstNames":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"academicTitle":{"type":"string","nullable":true},"namePrefix":{"type":"string","nullable":true},"nobilityTitle":{"type":"string","nullable":true},"salutationA":{"type":"string","nullable":true},"salutationB":{"type":"string","nullable":true},"jobTitle":{"type":"string","nullable":true},"comment":{"type":"string","nullable":true},"nationalityId":{"type":"number","nullable":true},"maritalStatus":{"type":"string","nullable":true},"deathDate":{"type":"string","nullable":true},"address":{"type":"object","nullable":true,"properties":{"id":{"type":"number"},"street":{"type":"string","nullable":true},"countryId":{"type":"number","nullable":true},"zip":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"nameline2":{"type":"string","nullable":true},"additional":{"type":"string","nullable":true},"district":{"type":"string","nullable":true},"poBoxZip":{"type":"string","nullable":true},"poBox":{"type":"string","nullable":true},"countyId":{"type":"number","nullable":true}},"required":["id","street","countryId","zip","city","nameline2","additional","district","poBoxZip","poBox","countyId"]}},"required":["id","firstName","lastName","gender","addressId","familyId","familyRole","birthDate","birthPlace","birthCountryId","languageId","religionId","allFirstNames","birthName","academicTitle","namePrefix","nobilityTitle","salutationA","salutationB","jobTitle","comment","nationalityId","maritalStatus","deathDate","address"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/persons/{personId}/relationships":{"get":{"operationId":"getRelationships","summary":"Get relationships","description":"Get all relationships for a person within an organization","tags":["persons"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true},{"in":"path","name":"personId","schema":{"type":"string","description":"The person's ID."},"required":true}],"responses":{"200":{"description":"A list of relationships","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"personId":{"type":"number"},"relationshipType":{"type":"string","enum":["father","mother","son","daughter","other","child"]},"custody":{"type":"boolean"},"realParent":{"type":"boolean"},"physical":{"type":"boolean"},"notes":{"type":"string","nullable":true}},"required":["personId","relationshipType","custody","realParent","physical","notes"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/groups":{"get":{"operationId":"getGroups","summary":"Get all groups","description":"Get all groups within an organization","tags":["groups"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true}],"responses":{"200":{"description":"A group","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"type":{"type":"string","enum":["root","systemRoot","systemPersonGroup","systemYear","systemFacility","systemDepartment","personGroup","class","careGroup","schoolYear","facility","department","institution"]},"grade":{"type":"string","nullable":true},"schoolYear":{"type":"string","nullable":true},"char":{"type":"string","nullable":true}},"required":["id","name","type"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/groups/{groupId}":{"get":{"operationId":"getGroup","summary":"Get group by ID","description":"Get a group within an organization by ID","tags":["groups"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true},{"in":"path","name":"groupId","schema":{"type":"string","description":"The group's ID."},"required":true}],"responses":{"200":{"description":"A group","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"type":{"type":"string","enum":["root","systemRoot","systemPersonGroup","systemYear","systemFacility","systemDepartment","personGroup","class","careGroup","schoolYear","facility","department","institution"]},"grade":{"type":"string","nullable":true},"schoolYear":{"type":"string","nullable":true},"char":{"type":"string","nullable":true}},"required":["id","name","type"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/v1/organizations/{organizationId}/groups/{groupId}/members":{"get":{"operationId":"getGroupMembers","summary":"Get group members by ID","description":"Get a groups members within an organization by ID","tags":["groups"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"organizationId","description":"The organization's ID.","schema":{"type":"string","description":"The organization's ID."},"required":true},{"in":"path","name":"groupId","schema":{"type":"string","description":"The group's ID."},"required":true}],"responses":{"200":{"description":"All group members","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"personId":{"type":"number"},"entryDate":{"type":"string","nullable":true},"exitDate":{"type":"string","nullable":true}},"required":["personId","entryDate","exitDate"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key for authentication"}},"responses":{"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["bad_request"],"description":"A short code indicating the error code returned.","example":"bad_request"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"401":{"description":"Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized"],"description":"A short code indicating the error code returned.","example":"unauthorized"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"403":{"description":"The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["forbidden"],"description":"A short code indicating the error code returned.","example":"forbidden"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"404":{"description":"The server cannot find the requested resource.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["not_found"],"description":"A short code indicating the error code returned.","example":"not_found"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"409":{"description":"This response is sent when a request conflicts with the current state of the server.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["conflict"],"description":"A short code indicating the error code returned.","example":"conflict"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"410":{"description":"This response is sent when the requested content has been permanently deleted from server, with no forwarding address.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["invite_expired"],"description":"A short code indicating the error code returned.","example":"invite_expired"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"422":{"description":"The request was well-formed but was unable to be followed due to semantic errors.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["unprocessable_entity"],"description":"A short code indicating the error code returned.","example":"unprocessable_entity"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"429":{"description":"The user has sent too many requests in a given amount of time (\"rate limiting\")","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["rate_limit_exceeded"],"description":"A short code indicating the error code returned.","example":"rate_limit_exceeded"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["internal_server_error"],"description":"A short code indicating the error code returned.","example":"internal_server_error"},"message":{"type":"string","description":"A human readable explanation of what went wrong.","example":"The requested resource was not found."},"doc_url":{"type":"string","description":"A link to our documentation with more details about this error code"}},"required":["code","message"]}},"required":["error"]}}}}}}}