on:
  push:
    branches: [ main, beta ]

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
      - name: "Enable corepack"
        run: corepack enable
      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "21"
          cache: "yarn"
      - name: "Set yarn version"
        run: yarn set version stable
      - name: "Install dependencies"
        run: yarn install --frozen-lockfile
      - name: "Build package"
        run: yarn build
      - name: "Run semantic-release"
        run: yarn release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}